@page "/"
@using DesiPizza.Client

<!--Main Page with pizza items-->
<div class="main">
    <ul class="pizza-cards">
        @if (specials is not null)
        {
            @foreach (var special in specials)
            {
                <li style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>


@code
{
    List<PizzaSpecial>? specials { get; set; }

    protected override void OnInitialized()
    {
        specials = AppDataProvider.GetSpecials();
    } 
}